input[type="checkbox"] {
  opacity: 0;
}

.slider {
  display: block;
  width: 200px;
  height: 50px;
  background: blue;
  position: relative;
  border-radius: 50px;
}

.slider:before {
  content: '';
  position: absolute;
  background-color: red;
  border-radius: 50px;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transition: 0.4s;
}

.switch input:checked~.slider:before {
  transform: translate(100%);
}
